.firsttext {
	text-align: center;
	font-size: 42px;
	text-shadow: 2px 2px #000000;
	
}

.title1 {
	border: 5px outset chocolate;
	background-color: lightgreen;
	text-align: center;
  font-size: 26px;
  margin: auto;
  display: block;
  width: 60%;
}

.title2 {
	background-color: lightgreen;
	text-align: center;
	font-size: 16px;
}

.box1 {
  border: 5px outset red;
  font-size: 26px;
  background-color: lightsalmon;
  text-align: center;
  margin: auto;
  display: block;
  width: 90%;
}

.box2 {
  font-size: 18px;
  background-color: lightsalmon;
  text-align: center;
}

.box3 {
  border: 5px outset blue;
  font-size: 30px;
  background-color:gold;
  text-align: center;
  margin: auto;
  display: block;
  width: 80%;
}

.box4 {
  font-size: 18px;
  background-color:gold;
  text-align: center;
}

.button1 {
  border: 2px outset black;
  font-size: 25px;
  background-color: pink;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 14%;
  margin: auto;
}

.button1:hover {
  font-size: 25px;
  background-color: orange;
  padding: 20px 20px;
  text-align: center;
}

.button1:active {
  font-size: 22px;
  background-color: orange;
  padding: 18px 18px;
  text-align: center;
}

.centeraye {
  text-align: center;
}

.titleserver1 {
  text-align: center;
  font-size: 26px;
  padding: 20px 20px;
  border: 5px outset gold;
  background-color: lightgreen;
}

.threelines {
  text-align: center;
  padding: 10px 10px;
  border: 5px outset blue;
  background-color: yellow;
  width: 60%;
  border-radius: 6%;
  box-sizing: border-box;
  margin: auto;
}

.button2 {
  border: 2px outset black;
  font-size: 25px;
  background-color: greenyellow;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  display: block;
  width: 15%;
}

.button2:hover {
  font-size: 25px;
  background-color: darkgreen;
  padding: 20px 20px;
  text-align: center;
}

.button2:active {
  font-size: 22px;
  background-color: darkgreen;
  padding: 18px 18px;
  text-align: center;
}

.button3 {
  border: 2px outset black;
  font-size: 25px;
  background-color: magenta;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  display: block;
  width: 22%;
}

.button3:hover {
  font-size: 25px;
  background-color: purple;
  padding: 20px 20px;
  text-align: center;
}

.button3:active {
  font-size: 22px;
  background-color: purple;
  padding: 18px 18px;
  text-align: center;
}